# Compiled class file
*.class

# Eclipse
.project
.classpath
.settings/

# Intellij
/SourceCode/*.ipr
/SourceCode/*.iml
/SourceCode/MiniSql/*.iml
/SourceCode/*.iws
/SourceCode/.idea/
/SourceCode/MiniSql/.idea/

# Maven
/SourceCode/MiniSql/target/

# Gradle
build
.gradle

# Log file
*.log
log/

# out
**/out/

# Mac
.DS_Store

# others
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.pid
*.orig
temp/